.projects-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}

.projects-list li {
  font-size: calc(5px + 2vmin);
  width: fit-content;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: rgb(63, 63, 63);
  font-weight: 600;
  width: 100%;
  max-width: 1000px;
  box-shadow: rgb(63 63 63/ 4%) 0px 1.51px 5.3px,
    rgb(63 63 63/ 5%) 0px 3.03px 4.54px;
}

.projects-list li:hover {
  cursor: pointer;
}

.projects img {
  width: 100%;
  border-radius: 1rem;
}

.projects h3 {
  font-weight: 900;
  font-style: black;
  font-size: 1.75rem;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.projects h4 {
  font-weight: 400;
  font-style: black;
  font-size: 1.25rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-left: 10px;
}

.projects h5 {
  font-weight: 400;
  font-style: black;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 25px;
}

.projects p {
  font-weight: 400;
  font-style: black;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 25px;
  margin: 5px;
  white-space: pre-line;
  text-align: justify;
  hyphens: auto;
  font-size-adjust: 0.5;
}

@media only screen and (max-device-width: 640px) {
  .projects-list {
    margin-top: 2rem;
    padding: 0;
  }

  .projects-li:nth-child(even) {
    transform: none;
  }

  .projects-list li {
    padding: 0;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0;
  }
  .projects h3 {
    font-size: 1.25rem;
  }

  .projects h4 {
    font-size: 0.75rem;
  }

  .projects h5 {
    font-size: 0.5rem;
    line-height: auto;
  }

  .projects p {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 5px;
    padding:5px;
    font-size-adjust: 0.1;
  }
}
