.projects-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}

.projects-list li {
  font-size: calc(5px + 2vmin);
  width: fit-content;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: rgb(63, 63, 63);
  font-weight: 600;
  width: 100%;
  max-width: 1000px;
  box-shadow: rgb(63 63 63/ 4%) 0px 1.51px 5.3px,
    rgb(63 63 63/ 5%) 0px 3.03px 4.54px;
}

.projects-list li:hover {
  cursor: pointer;
}

.projects img {
  width: 100%;
  border-radius: 1rem;
}


@media only screen and (max-device-width: 640px) {
  .projects-list {
    margin-top: 2rem;
    padding: 0;
  }

  .projects-li:nth-child(even) {
    transform: none;
  }

  .projects img {
    border-radius: 0.5rem;
  }

  .projects-list li {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }

}
