.About {
	display: flex;
	font-weight: 300;
	flex-direction: column;
	text-align: justify;
	font-size: 1.5rem;
	top: 0;
	padding: 1rem;
	max-width: 984px;
	font-size-adjust: 0.5;
	line-height: calc(1ex / 0.32);
	hyphens: auto;
}

@media only screen and (max-device-width: 640px) {
	.About {
		font-size: 1rem;
		padding: 0.5rem;
	}
  }
  