.About {
	font-weight: 300;
	text-align: justify;
	font-size: 1.5rem;
	width: 100%;
	font-size-adjust: 0.5;
	line-height: calc(1ex / 0.32);
	hyphens: auto;
}

@media only screen and (max-device-width: 640px) {
	.About {
		font-size: 1rem;
		padding: 0.5rem;
	}
  }
  
  