/* .HeaderToggle:hover {
	background-color: white;
	border-radius: 1rem;
	box-shadow: rgb(63 63 63/ 4%) 0px 1.51px 5.3px, rgb(63 63 63/ 5%) 0px 3.03px 4.54px;
} */

.HeaderToggle h2{
	color:var(--textColor);
	font-weight: 300;
	margin-bottom: 10px;
}

.HeaderToggle:hover {
	cursor:pointer;
}

.HeaderToggle[data-selected="true"] {
	border-color: var(--textColor);
	border-width: 0px 0px 1px;
	border-bottom-style: solid;
}