.About {
	display: flex;
	font-weight: 300;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	text-align: justify;
	font-size: 1.5rem;
	top: 0;
	max-width: 1000px;
	font-size-adjust: 0.5;
	line-height: calc(1ex / 0.32);
	hyphens: auto;
}

