@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
  font-size: 1rem;
}

body {
  /* background-color: #686de0; */
  font-family: "Source Serif Pro", "Times New Roman", serif;
  color: rgb(53, 50, 65);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* padding: 20px; */
}

label {
  font-size: 1.5rem;
  @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,900;1,200;1,400&display=swap');
  color: rgb(53, 50, 65);
  padding: 10px;
  font-size: calc(1px + 2vmin);
}

input {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(53, 50, 65);
  padding: 10px;
  font-size: calc(1px + 2vmin);
}

.input-div {
  padding: 20px;
}

.image-viewer {
  min-width: 500px;
  min-height: 500px;
  display: inline-block;
  position: relative;
  align-items: center;
}

#loadedImage {
  top: 0;
  left: 0;
  min-width: 500px;
  min-height: 500px;
  max-width: 700px;
  max-height: 700px;
  position: absolute;
  object-fit: contain;
}

#predictionCanvas {
  position: relative;
  z-index: 20;
}

h1 {
  font-weight: 900;
  font-style: black;
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 900;
  font-style: black;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 40px;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.14;
  margin-top: 5px;
  margin-bottom: 5px;
}