@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

html {
  font-size: 1rem;
}

body {
  /* background-color: #686de0; */
  font-family: "Source Serif Pro", "Times New Roman", serif;
  background-color: rgb(250, 247, 243);
  color: rgb(63, 63, 63);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* padding: 20px; */
}

h1 {
  font-weight: 900;
  font-style: black;
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 900;
  font-style: black;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 40px;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.14;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mainDescription {
  font-weight: 300;
  text-align: justify;
  font-size: 1.5rem;
  width: 100%;
  font-size-adjust: 0.5;
  line-height: calc(1ex / 0.32);
  hyphens: auto;
}

.center-panel {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 980px;
}

.subMenu h3 {
  font-weight: 900;
  font-style: black;
  font-size: 1.75rem;
  margin-top: 15px;
  margin-bottom: 5px;
}

.subMenu h4 {
  font-weight: 400;
  font-style: black;
  font-size: 1.25rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-left: 10px;
}

.subMenu h5 {
  font-weight: 400;
  font-style: black;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 25px;
}

@media only screen and (max-device-width: 640px) {
  body {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding: 20px; */
  }
  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 1rem;
  }

  .subMenu h3 {
    font-size: 1.25rem;
  }

  .subMenu h4 {
    font-size: 0.75rem;
  }

  .subMenu h5 {
    font-size: 0.5rem;
    line-height: 18px;
  }

  .center-panel {
    padding: 0;
  }

  .mainDescription {
    font-size: 1rem;
    padding: 0;
  }
}
