@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

html {
  font-size: 1rem;
}

body {
  /* background-color: #686de0; */
  font-family: "Source Serif Pro", "Times New Roman", serif;
  background-color: rgb(250, 247, 243);
  color: rgb(63, 63, 63);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* padding: 20px; */
}

h1 {
  font-weight: 900;
  font-style: black;
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 900;
  font-style: black;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 40px;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.14;
  margin-top: 5px;
  margin-bottom: 5px;
}

.center-panel {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 980px;
}

@media only screen and (max-device-width: 640px) {
  body {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding: 20px; */
  }
  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 1rem;
  }
  .center-panel {
    padding: 0;

  }
}
