.Header {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
}



.profile_pic {
	border-radius: 100%;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.HeaderOptions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding: 5px;
	margin: 0;
	align-items: left;
	justify-content: left;

	/* margin: 10px; */
}

.HeaderOptions li {
	padding: 1rem;

}
